<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Viking Plumbing</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=MedievalSharp|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- navigation -->
  <ul id="dropdown1" class="dropdown-content">
      <li>
          <a href="/services" class="center">Services</a>
      </li>
      <li class="divider"></li>
      <li>
          <a href="#!">Residential</a>
      </li>
      <li>
          <a href="#!">Commericial</a>
      </li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="/projects" class="center">Projects</a></li>
    <li class="divider"></li>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
  </ul>
  <div class="navbar-fixed">
    <nav class="blue-grey darken-3 white-text" role="navigation">
      <div class="nav-wrapper container white-text">
        <a id="logo-container" href="/" class="brand-logo"><img class="viking-logo" src="./images/vikinglogo2.png" alt="Viking Plumbing"></a>
        <ul class="right hide-on-med-and-down">
          <li class="company-name center-align"><h5>Viking Plumbing and Rooter  </h5></li>
          <li><a href="/about">About Us</a></li>
          <li><a class="dropdown-trigger" href="/services" data-target="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li class="company-name center-align"><a href="/">Viking Plumbing and Rooter</a></li>
          <li><div class="divider"></div></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
<!-- index banner -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text company-name">Viking Plumbing and Rooter</h1>
        <div class="row center">
          <h5 class="header col s12 light light-blue-text">Serving the Greater Seattle Area since 1996</h5>
        </div>
        <div class="row center">
          <a href="/appointment" id="download-button" class="btn-large waves-effect waves-light light-blue ">Request an Appointment</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img class="background" src="./images/sink.jpg" alt="Sink"></div>
  </div>
  <!-- main content -->

  <div id="success" class="modal">
    <div class="modal-content">
      <h4 class="center">Request Sent!</h4>
      <p class="center">Your request for an appointment has been sent, Please give us 3-5 business days to get back to you.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Okay</a>
    </div>
  </div>

  <div class="container">
    <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3><i class="mdi-content-send light-blue-text text-darken-2"></i></h3>
            <h4>Mission Statement</h4>
            <p class="left-align light">Viking Plumbing & Rooter is your go to for all of your residential plumbing needs. From service work to full installs, we have you covered. There is no job too big or too small. We pride ourselves on our quality work, and can guarantee our customers satisfaction 100% of the time. This will probably be used at the bottom of the page, not here, just filler.</p>
          </div>
        </div>
      </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Locally Owned</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="background" src="./images/SpaceNeedle.jpg" alt="seattle"></div>
  </div>

  <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Give us a call today to get your project started!</h5>
        <span class="light-blue-text"><h4 class="header col s12 light">(253) 332-4692</h4></span>
      </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Quality Service</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="background" src="./images/trucks.jpg" alt="trucks"></div>
  </div>

  <footer class="page-footer blue-grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Viking Plumbing & Rooter is your go to for all of your residential plumbing needs. From service work to full installs, we have you covered. There is no job too big or too small. We pride ourselves on our quality work, and can guarantee our customers satisfaction 100% of the time. Give us a call today to get your project started!</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>
          <ul>
            <li>Viking Plumbing</li>
            <li>425-264-3276</li>
            <li>Kent, WA, 98035</li>
            <li>License #: VIKINPR032DE</li>
            <li>Email@email.com</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!"><i class="fab fa-facebook"></i></a></li>
            <li><a class="white-text" href="#!"><i class="fab fa-linkedin"></i></a></li>
            <li><a class="white-text" href="#!"><i class="fab fa-yelp"></i></a></li>
            <li><a class="white-text" href="https://www.bbb.org/western-washington/business-reviews/plumber/viking-plumbing-rooter-in-renton-wa-13026188">BBB</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          © 2018 Viking Plumbing
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
